{%- liquid
  assign placeholder_t = 'layout.footer.newsletter_placeholder' | t
  assign button_t = 'layout.footer.newsletter_button' | t
  assign shopify_disclaimer_t = 'shopify.online_store.spam_detection.disclaimer_html' | t

  render 'section-assets', name: 'popup', type: 'script'
-%}

{{ 'flatpickr.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flatpickr.js' | asset_url }}" async></script>

<style>
  .flatpickr-current-month .numInputWrapper {
    display: none !important;
  }

  .popup-modal {
    max-height: 760px;
  }

  @media (max-width: 801px) {
    .popup-modal {
      max-height: none;
      width: 100%;
      padding: 10px;
    }
  }

  .popup-modal-close {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0000004a !important;
    display: block;
    z-index: 3;
  }

  .hide {
    display: none !important;
  }

  .popup-root {
    /* Styles for the root element */
  }

  .popup-container {
    display: flex;
  }

  .popup-image {
    width: 50%;
    background-size: cover;
    position: relative; /* Añadido */
    overflow: hidden; /* Añadido para ocultar el desbordamiento */
  }

  .popup-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 40px); /* Ajuste para superponer la franja */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    z-index: 2; /* Asegura que la imagen esté sobre la franja */
  }

  .popup-form {
    width: 50%;
    padding: 1.5rem; /* Reduced padding */
  }

  .form-heading-pp {
    margin-bottom: 8px; /* Reduced margin */
    font-size: 14px; /* Smaller font size */
    line-height: 1;
    font-weight: 700; /* Reduced font weight */
  }

  .form-subheading-pp {
    margin-bottom: 4px; /* Reduced margin */
    font-size: 10px; /* Smaller font size */
  }

  .form-group-pp {
    margin-bottom: 0.8rem; /* Reduced margin */
  }

  .form-label-pp {
    margin-bottom: 0 !important;
    display: block;
    font-size: 10px !important; /* Smaller font size */
    line-height: 1.1rem;
    font-weight: 600 !important; /* Reduced font weight */
    color: rgb(55, 65, 81);
  }

  .form-input-pp {
    width: 100%;
    appearance: none;
    border-radius: 0.2rem; /* Smaller border radius */
    border-width: 1px;
    padding-left: 0.6rem; /* Reduced padding */
    padding-right: 0.6rem; /* Reduced padding */
    padding-top: 0.4rem; /* Reduced padding */
    padding-bottom: 0.4rem; /* Reduced padding */
    line-height: 1.1;
    color: rgb(55, 65, 81);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    outline: 2px solid transparent;
    outline-offset: 2px;
    margin-bottom: 0px;
    font-size: 10px; /* Smaller font size */
  }

  .form-group-pp-checkbox {
    margin-bottom: 1.2rem; /* Reduced margin */
  }

  .form-checkbox-pp {
    display: inline;
    margin-right: 0.4rem; /* Reduced margin */
    line-height: 1.1;
    vertical-align: middle;
  }

  .form-checkbox-pp-label {
    width: 100%;
    font-size: 0.8rem !important; /* Smaller font size */
    line-height: 1.1rem;
    display: inline;
    vertical-align: middle;
    padding: 0px;
    margin-top: 1.5px; /* Adjusted margin */
  }

  .form-terms-pp {
    margin-bottom: 5px; /* Reduced margin */
    font-size: 9px; /* Smaller font size */
    line-height: 0.9rem;
  }

  .form-link-pp {
    color: rgb(59, 130, 246);
  }

  .form-button-pp {
    line-height: 0;
    border-radius: 0.2rem; /* Smaller border radius */
    background-color: #f8c8da;
    padding-left: 0.8rem; /* Reduced padding */
    padding-right: 0.8rem; /* Reduced padding */
    padding-top: 0.4rem; /* Reduced padding */
    padding-bottom: 0.4rem; /* Reduced padding */
    font-weight: 700;
    color: rgb(255, 255, 255);
    outline: 2px solid transparent;
    outline-offset: 2px;
    cursor: not-allowed;
    font-size: 10px; /* Smaller font size */
  }

  @media (max-width: 901px) {
    .popup-image {
      display: none;
    }

    .popup-form {
      width: 100%;
      padding: 1rem; /* Further reduced padding */
    }

    .form-group-pp-checkbox {
      margin-bottom: 0.6rem; /* Further reduced margin */
      font-size: 0.7rem !important; /* Smaller font size */
    }

    .form-terms-pp {
      margin-bottom: 0.6rem; /* Further reduced margin */
      font-size: 0.6rem; /* Smaller font size */
      line-height: 0.6rem;
    }
  }
</style>

<dialog class="popup popup-modal has-image has-no-page-content has-newsletter has-social-icons completed hide">
  <div class="inner">
    <div id="subscribe_module">
      <popup-root class="popup-root">
        <div class="popup-container">
          <!-- Lado izquierdo con imagen -->
          <div class="popup-image" style="background-image:url({{ settings.popup--image | image_url: width: 1200 }});">
            <img src="{{ settings.popup--image | image_url: width: 1200 }}" alt="Imagen del popup">
          </div>
          <!-- Lado derecho con formulario -->
          <div class="popup-form">
            <h2 class="form-heading-pp">{{ settings.popup--newsletter--heading }}</h2>
            <p class="form-subheading-pp">{{ settings.popup--sub-heading }}</p>
            <div id="mc_embed_signup">
              <form action="https://mozzafiato.us18.list-manage.com/subscribe/post?u=03463ad5181c8d7668383cd88&amp;id=63b6090f97&amp;f_id=00f62ce2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div class="form-group-pp">
                  <label for="mce-FNAME" class="form-label-pp">Nombre</label>
                  <input type="text" name="FNAME" class="form-input-pp text" id="mce-FNAME" value="" required>
                </div>
                <div class="form-group-pp">
                  <label for="mce-LNAME" class="form-label-pp">Apellido</label>
                  <input type="text" name="LNAME" class="form-input-pp text" id="mce-LNAME" value="" required>
                </div>
                <div class="form-group-pp">
                  <label for="mce-EMAIL" class="form-label-pp">Correo electrónico <span class="asterisk">*</span></label>
                  <input type="email" name="EMAIL" class="form-input-pp required email" id="mce-EMAIL" value="" required>
                </div>
                <div class="form-group-pp">
                  <label for="datepicker-input" class="form-label-pp">Fecha de cumpleaños:</label>
                  <div class="datepicker-container">
                    <input type="text" id="datepicker-input" placeholder="mm/dd" class="form-input-pp">
                    <div class="datefield hide">
                      <span class="subfield monthfield">
                        <input class="birthday REQ_CSS" type="text" pattern="[0-9]*" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month" value="">
                      </span> /<span class="subfield dayfield">
                        <input class="birthday REQ_CSS" type="text" pattern="[0-9]*" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day" value="">
                      </span>
                      <span class="small-meta nowrap">( mm / dd )</span>
                    </div>
                  </div>
                </div>
                <div class="form-group-pp form-group-pp-checkbox">
                  <input id="acepto" name="acepto" type="checkbox" class="form-checkbox-pp" required>
                  <label for="acepto" class="form-checkbox-pp-label">Acepto recibir comunicaciones*</label>
                </div>
                <p class="form-terms-pp">
                  *Al hacer clic y proporcionarnos tus datos, aceptas nuestros
                  <a style="color:rgb(59,130,246)" href="https://mozzafiato.pe/pages/terminos-y-condiciones" class="form-link-pp">Términos y Condiciones</a>.
                  El consentimiento no es una condición para la compra. Puede darse de baja en cualquier momento.
                </p>
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="form-button-pp" value="¡OBTÉN 10% OFF YA!" disabled />
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none;">Ha ocurrido un error, por favor intente nuevamente.</div>
                  <div class="response" id="mce-success-response" style="display:none;">¡Gracias por suscribirse!</div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;" class="hide">
                  <input type="text" name="b_03463ad5181c8d7668383cd88_63b6090f97" tabindex="-1" value="">
                </div>
              </form>
            </div>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
            <script type="text/javascript">
              (function($) {
                window.fnames = new Array(); 
                window.ftypes = new Array();
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[5] = 'BIRTHDAY';
                ftypes[5] = 'birthday';
                fnames[3] = 'ADDRESS';
                ftypes[3] = 'address';
                fnames[4] = 'PHONE';
                ftypes[4] = 'phone';
              }(jQuery));
              var $mcj = jQuery.noConflict(true);
              
              // Function to enable submit button if all fields are valid
              function validateForm() {
                const fname = document.getElementById('mce-FNAME').value;
                const lname = document.getElementById('mce-LNAME').value;
                const email = document.getElementById('mce-EMAIL').value;
                const acepta = document.getElementById('acepto').checked;

                if (fname && lname && email && acepta) {
                  document.getElementById('mc-embedded-subscribe').disabled = false;
                  document.getElementById('mc-embedded-subscribe').style.cursor = 'pointer';
                } else {
                  document.getElementById('mc-embedded-subscribe').disabled = true;
                  document.getElementById('mc-embedded-subscribe').style.cursor = 'not-allowed';
                }
              }

              // Add event listeners to the form fields
              document.getElementById('mce-FNAME').addEventListener('input', validateForm);
              document.getElementById('mce-LNAME').addEventListener('input', validateForm);
              document.getElementById('mce-EMAIL').addEventListener('input', validateForm);
              document.getElementById('acepto').addEventListener('change', validateForm);

              const flatpickrElement = document.querySelector('#datepicker-input');
              flatpickr(flatpickrElement, {
                dateFormat: "m/d",
                disableMobile: "true",
                onChange: function(selectedDates, dateStr, instance) {
                  const dateParts = dateStr.split('/');
                  const month = dateParts[0];
                  const day = dateParts[1];

                  document.getElementById('mce-BIRTHDAY-day').value = day;
                  document.getElementById('mce-BIRTHDAY-month').value = month;
                }
              });
            </script>
          </div>
        </div>
      </popup-root>
    </div>
  </div>
</dialog>
<div class="popup-modal-close hide" aria-label="{{ 'general.a11y.close' | t }}" tabindex="0">
  {%- render 'icons', icon: 'cross' -%}
</div>
<script>
  const itemStr = localStorage.getItem('popup_showin');
  if (!itemStr) {
    setTimeout(() => {
      document.querySelector('.popup.popup-modal').classList.remove('hide');
      document.querySelector('.popup-modal-close').classList.remove('hide');
    }, {{ settings.popup--seconds-range | times: 1000 }});
  } else {
    let item = JSON.parse(itemStr);
    let now = new Date();

    if (now.getTime() > item.expiry) {
      localStorage.removeItem('popup_showin');
    }
  }

  document.querySelector('.popup-modal-close').addEventListener('click', el => {
    el.preventDefault();
    document.querySelector('.popup-modal-close').classList.add('hide');
    document.querySelector('.popup.popup-modal').classList.add('hide');

    let now = new Date();
    let item = {
      value: 1,
      expiry: now.setDate(now.getDate() + {{ settings.popup--days-range }}),
    };
    localStorage.setItem('popup_showin', JSON.stringify(item));
  });
</script>
