{%- liquid
  assign placeholder_t = 'layout.footer.newsletter_placeholder' | t
  assign button_t = 'layout.footer.newsletter_button' | t
  assign shopify_disclaimer_t = 'shopify.online_store.spam_detection.disclaimer_html' | t

  render 'section-assets', name: 'popup', type: 'script'
-%}

{{ 'flatpickr.css' | asset_url | stylesheet_tag }}
<script src="{{ 'flatpickr.js' | asset_url }}" ></script>

<style>
  .popup-modal-close {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0000004a !important;
    display: block;
    z-index: 3;
  }

  .hide {
    display: none !important;
  }

  .popup-root {
    /* Styles for the root element */
  }

  .popup-container {
      display: flex;
  }

  .popup-image {
      width: 50%;
      background-size: cover;
  }

  .popup-form {
      width: 50%;
      padding: 3rem;
  }

  .form-heading-pp {
      margin-bottom: 1rem;
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 700;
  }

  .form-subheading-pp {
      margin-bottom: 1.5rem;
  }

  .form-group-pp {
      margin-bottom: 1rem;
  }

  .form-label-pp {
      margin-bottom: 0.5rem !important;
      display: block;
      font-size: 0.875rem !important;
      line-height: 1.25rem;
      font-weight: 700 !important;
      color: rgb(55, 65, 81);
  }

  .form-input-pp {
      width: 100%;
      appearance: none;
      border-radius: 0.25rem;
      border-width: 1px;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      line-height: 1.25;
      color: rgb(55, 65, 81);
      box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0, 0, 0, 0.1);
      outline: 2px solid transparent;
      outline-offset: 2px;
      margin-bottom: 0px;
  }

  .form-group-pp-checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
  }

  .form-checkbox-pp {
      display: inline;
      margin-right: 0.5rem;
      line-height: 1.25;
      vertical-align: middle;
  }

  .form-checkbox-pp-label {
      width: 90%;
      font-size: 0.875rem !important;
      line-height: 1.25rem;
      display: inline;
      vertical-align: middle;
  }

  .form-terms-pp {
      margin-bottom: 1.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
  }

  .form-link-pp {
      color: rgb(59, 130, 246);
  }

  .form-button-pp {
      line-height: 0;
      border-radius: 0.25rem;
      background-color: #f8c8da;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 700;
      color: rgb(255, 255, 255);
      outline: 2px solid transparent;
      outline-offset: 2px;
  }

</style>

<dialog class="popup popup-modal has-image has-no-page-content has-newsletter has-social-icons completed hide">
  <div class="inner">
    <div id="subscribe_module">
      <popup-root class="popup-root">
        <div class="popup-container">
            <!-- Left side with image -->
            <div class="popup-image" style="background-image:url({{ settings.popup--image | image_url: width: 1200 }});">
                &nbsp;
            </div>
            <!-- Right side with form -->
            <div class="popup-form">
                <h2 class="form-heading-pp">{{ settings.popup--newsletter--heading }}</h2>
                <p class="form-subheading-pp">{{ settings.popup--sub-heading }}</p>
                <form>
                    <div class="form-group-pp">
                        <label for="nombre" class="form-label-pp">Nombre *</label>
                        <input id="nombre" name="nombre" required="" type="text" class="form-input-pp">
                    </div>
                    <div class="form-group-pp">
                        <label for="apellido" class="form-label-pp">Apellido *</label>
                        <input id="apellido" name="apellido" required="" type="text" class="form-input-pp">
                    </div>
                    <div class="form-group-pp">
                        <label for="correo" class="form-label-pp">Correo *</label>
                        <input id="correo" name="correo" required="" type="email" class="form-input-pp">
                    </div>
                    <div class="form-group-pp">
                        <label for="datepicker-input" class="form-label-pp">Fecha de nacimiento:</label>
                        <div class="datepicker-container">
                            <input type="text" id="datepicker-input" placeholder="Select date" class="form-input-pp">
                        </div>
                    </div>
                    <div class="form-group-pp form-group-pp-checkbox">
                        <input id="acepto" name="acepto" type="checkbox" class="form-checkbox-pp">
                        <label for="acepto" class="form-checkbox-pp-label">Acepto recibir comunicaciones. *</label>
                    </div>
                    <p class="form-terms-pp">
                        *Al hacer clic y proporcionarnos tus datos, aceptas nuestros
                        <a href="https://mozzafiato.pe/pages/terminos-y-condiciones" class="form-link-pp">Términos y Condiciones</a>.
                        El consentimiento no es una condición para la compra. Puede darse de baja en cualquier momento.
                    </p>
                    <button type="submit" class="form-button-pp">¡OBTÉN 10% OFF YA!</button>
                </form>
            </div>
          </div>
      </popup-root>
    </div>
  </div>
</dialog>
<div class="popup-modal-close hide" aria-label="{{ 'general.a11y.close' | t }}" tabindex="0">
  {%- render 'icons', icon: 'cross' -%}
</div>
<script>
  const itemStr = localStorage.getItem('popup_showin');
  if(!itemStr){
      setTimeout(()=>{
          document.querySelector('.popup.popup-modal').classList.remove('hide');
          document.querySelector('.popup-modal-close').classList.remove('hide');
      }, {{ settings.popup--seconds-range | times: 1000 }} );
  }else{
      let item = JSON.parse(itemStr);
      let now = new Date();

      if (now.getTime() > item.expiry) {
          localStorage.removeItem('popup_showin');
      }
  }

  document.querySelector('.popup-modal-close').addEventListener('click', el => {
      el.preventDefault();
      document.querySelector('.popup-modal-close').classList.add('hide');
      document.querySelector('.popup.popup-modal').classList.add('hide');
      
      let now = new Date()

      let item = {
          value: 1,
          expiry: now.setDate(now.getDate() + {{ settings.popup--days-range }}),
      }
      localStorage.setItem('popup_showin', JSON.stringify(item));
      
      // document.querySelector('.get-button--section').classList.remove('hide');
  })

  const flatpickrelement = document.querySelector('#datepicker-input');
  flatpickr(flatpickrelement, {
    dateFormat: "d/m/Y",
  });
</script>

